input{
    background-color: rgb(40, 40, 40);
    color: white;

    font-size: 20px;
    padding: 5px;

    border: 1px solid white;
    border-radius: 10px;
    
    transition: .5s ease-in;
}
input:focus{
    border: 1px solid orange;
}

textarea{
    background-color: rgb(40, 40, 40);
    color: white;

    font-size: 20px;
    padding: 5px;

    width: 1000px;
    height: 500px;

    border: 1px solid white;
    border-radius: 10px;
    
    transition: .5s ease-in;
}
textarea:focus{
    border: 1px solid orange;
}